.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

ul.pagination li {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-right: 5px;
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
  margin-right: 0;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1.4rem;
  font-weight: 700;
}

ul.pagination li.active a {
  color: #e2e2e2;
}

ul.pagination li.active {
  background-color: #606efc;
}

ul.pagination li:hover,
ul.pagination li.active {
  cursor: pointer;
}

ul.pagination li:hover a {
  color: #e2e2e2;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}
